<br>
<ul>
    <span><strong>View Listings</strong></span>
    <li><a href="/home">View all available listings</a></li>
    <li><a href="/listings">View my book listings</a></li>
    <li><a href="/academic-resources">View my academic resources</a></li>
    <br>
    <span><strong>Create Listing</strong></span>
    <li><a href="/addpost">Add a book listing</a></li>
    <li><a href="/upload">Upload an academic resource</a></li>
    <br>
    <span><strong>Filter by Title</strong></span>
    <li><a href="/ascendeing">Ascendeing</a></li>
    <li><a href="/descending">Descending</a></li>
    <br>
    <span><strong>Search by Title</strong></span>
    <form action="search" method="get">
        <input type="text" name="search">
        <input type="submit" value="Submit">
    </form>
    <br>
    <span><strong>Profile</strong></span>
    <li><a href="/profile">Go to your profile</a></li>
    <li><a href="/profile-edit">Edit your profile</a></li>
</ul>