<div class="nav-common-side" style="background-color: #40c080;">
    <a href="/addpost"><img src="assets/icons/add-post.png" alt="Add Book"></a>
    <a href="/upload"><img src="assets/icons/upload.png" alt="Upload Resource"></a>
</div>
<div class="nav-common">
    <a href="/home"><img src="assets/icons/home.png" alt="Home"></a>
    <a href="/listings"><img src="assets/icons/listings.png" alt="Listings"></a>
    <a href="/academic-resources"><img src="assets/icons/academic-resources.png" alt="Academic Resources"></a>
</div>
<div class="nav-common-side">
    <a href="/profile"><img src="assets/icons/profile.png" alt="Profile"></a>
    <a href="/signout"><img src="assets/icons/sign-out.png" alt="Sign Out"></a>
</div>