<div class="post-container">
    <h3><center>Sign in to BookPeer</center></h3>
    <div class="post-container-media">
        <img src="assets/images/placeholder-profile-picture.png">
    </div>
    <div class="signin-container-form">
        <form action="/signin" method="post">
            <input type="text" placeholder="Username" name="username" required><br>
            <input type="password" placeholder="Password" name="password" required><br>
            <center><button type="submit">Sign In</button></center>
        </form>
    </div>
    <center>
        <p>New here? <a href="/signup">Create an account</a></p>
    </center>
</div>