<div class="post-container">
    <center><span style="color:#208040; font-size: 20px; font-weight: 700;">Purchase this book</span><br><br>Are you sure you want to purchase this book?</center>
    <div class="post-container-media">
        <img src="assets/images/placeholder-post-picture.png">
    </div>
    <table>
        <tr>
            <th>Title</th>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <th>Seller</th>
            <td>Lorem Ipsum</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>&dollar;1234</td>
        </tr>
    </table>
    <br><br>
    <center>
        <a class="post-container-button" style="background-color: #40c080; color: #ffffff;" href=""><img src="assets/icons/get.png" alt="Purchase">Purchase</a>
        &nbsp;&nbsp;&nbsp;
        <a class="post-container-button" href="/">Cancel</a>
    </center>
</div>