<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head-common'); -%>
</head>
<body>
    <div class="container">
        <header>
        </header>
        <nav>
            <%- include('layouts/nav-common'); -%>
        </nav>
        <br><br>
        <aside>
        </aside>
        <main class=".main-common">
            <%- include('layouts/checkout-container'); -%>
        </main>
        <footer>
            <%- include('layouts/footer-common'); -%>
        </footer>
    </div>
</body>
</html>